.inner {
    position: relative;
    display: flex;
    width: 100%;
    height: 484px;
}
.swiper {
    display: flex;
    align-items: start;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  
  .swiper-wrapper {
    box-sizing: content-box;
  }

  .swiper-slide {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-next, .swiper-button-prev {
    position: absolute;
    color: var(--green);
    top: 93%;
    width: 56px;
    height: 56px;
    border: 1px solid var(--green);
}
   .swiper-button-next {
    right: 0;
   }
  
  .swiper-button-prev {
    left: 93%;
  }

.swiper-button-prev::after, .swiper-button-next::after {
    color: var(--green);
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0.35;
    border: none;
}

.swiper-button-next::after.swiper-button-disabled, .swiper-button-prev::after.swiper-button-disabled {
    color: var(--gray-300);
}


  .swiper-horizontal>.swiper-scrollbar,.swiper-scrollbar.swiper-scrollbar-horizontal {
    height: 8px;
    max-width: 1544px;
    margin-right: 64px;
    bottom: 24px;
    left: 0;
    border-radius: 0;
}

.swiper-scrollbar-drag {
    width: 256px;
    background-color: var(--green);
    border-radius: 0;
}



.gallery {
  margin:0;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding:0;
  z-index:1;
  display:block;
  min-height: 528px;
}


.swiper__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}



.gallery__wrapper {
  height: 100%;
  width: 100%;
  z-index:1;
  display:flex;
  box-sizing: content-box;
}



.button-next, .button-prev {
  width: 56px;
  height: 56px;
  border: 1px solid var(--green);
}
.button-next:after,.button-prev:after {
  font-family:swiper-icons;
  font-size:var(--swiper-navigation-size);
  text-transform:none!important;
  letter-spacing:0;
  font-variant:initial;
  line-height:1
}
.button-prev:after,.swiper-rtl .button-next:after {
  content:'prev'
}

.button-next:after,.swiper-rtl .button-prev:after {
  content:'next'
}
.button-prev::after, .button-next::after {
  color: var(--green);
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

.button-next.swiper-button-disabled, .button-prev.swiper-button-disabled {
  opacity: 0.35;
  border: none;
}

.button-next::after.swiper-button-disabled, .button-prev::after.swiper-button-disabled {
  color: var(--gray-300);
}

@media (max-width: 1441px) {
    .swiper-button-prev {
        left: 90%;
      }
    .swiper-horizontal>.swiper-scrollbar,.swiper-scrollbar.swiper-scrollbar-horizontal {
        max-width: 1128px;
        margin-right: 40px;
      }
 }

 @media (max-width: 769px) {
    .swiper-button-next {
        display: none;
       }
      
      .swiper-button-prev {
        display: none;
      }

      .swiper-horizontal>.swiper-scrollbar,.swiper-scrollbar.swiper-scrollbar-horizontal {
        max-width: 696px;
        margin-right: 0;
      }

      .gallery {
        height: 1016px;
      }
 }

 @media (max-width: 376px) {
    .inner {
        height: 444px;
    }
    .swiper {
        margin: 0;
      }
      
    .swiper-wrapper {
        gap: 0;
    }

    .gallery {
      height: 560px;
    }
 }

